In [3]:
import pandas as pd
import Levenshtein
df=pd.read_csv('Train_details_22122017.csv')
df=df[df['Source Station Name'].notnull()]
df2=df
#df2['duration']=df[df['Arrival time']-df['Departure Time']]
# for i in range(len(df)):
#     df2['Distance'][i]=pd.(df2['Arrival time'][i])-pd.to_timedelta(df2['Departure Time'][i])
# df2
df2['Arrival time']=pd.to_datetime(df2['Arrival time'])
df2['Departure Time']=pd.to_datetime(df2['Departure Time'])
df2['duration']=df2['Departure Time']-df2['Arrival time']
df2

C:\Users\shamr\AppData\Local\Temp\ipykernel_20980\3688184137.py:3: DtypeWarning: Columns (0,2,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('Train_details_22122017.csv')
C:\Users\shamr\AppData\Local\Temp\ipykernel_20980\3688184137.py:10: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df2['Arrival time']=pd.to_datetime(df2['Arrival time'])
C:\Users\shamr\AppData\Local\Temp\ipykernel_20980\3688184137.py:11: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df2['Departure Time']=pd.to_datetime(df2['Departure Time'])

,Train No,Train Name,SEQ,Station Code,Station Name,Arrival time,Departure Time,Distance,Source Station,Source Station Name,Destination Station,Destination Station Name,duration
0,107,SWV-MAO-VLNK,1,SWV,SAWANTWADI R,2024-04-26 00:00:00,2024-04-26 10:25:00,0,SWV,SAWANTWADI ROAD,MAO,MADGOAN JN.,0 days 10:25:00
1,107,SWV-MAO-VLNK,2,THVM,THIVIM,2024-04-26 11:06:00,2024-04-26 11:08:00,32,SWV,SAWANTWADI ROAD,MAO,MADGOAN JN.,0 days 00:02:00
2,107,SWV-MAO-VLNK,3,KRMI,KARMALI,2024-04-26 11:28:00,2024-04-26 11:30:00,49,SWV,SAWANTWADI ROAD,MAO,MADGOAN JN.,0 days 00:02:00
3,107,SWV-MAO-VLNK,4,MAO,MADGOAN JN.,2024-04-26 12:10:00,2024-04-26 00:00:00,78,SWV,SAWANTWADI ROAD,MAO,MADGOAN JN.,-1 days +11:50:00
4,108,VLNK-MAO-SWV,1,MAO,MADGOAN JN.,2024-04-26 00:00:00,2024-04-26 20:30:00,0,MAO,MADGOAN JN.,SWV,SAWANTWADI ROAD,0 days 20:30:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
186119,99908,EMU,8,AKRD,AKURDI,2024-04-26 23:30:00,2024-04-26 23:31:00,19,PUNE,PUNE JN.,TGN,TALEGAON,0 days 00:01:00
186120,99908,EMU,9,DEHR,DEHU ROAD,2024-04-26 23:35:00,2024-04-26 23:36:00,24,PUNE,PUNE JN.,TGN,TALEGAON,0 days 00:01:00
186121,99908,EMU,10,BGWI,BEGDAEWAI,2024-04-26 23:39:00,2024-04-26 23:40:00,28,PUNE,PUNE JN.,TGN,TALEGAON,0 days 00:01:00
186122,99908,EMU,11,GRWD,GHORAWADI,2024-04-26 23:41:00,2024-04-26 23:42:00,31,PUNE,PUNE JN.,TGN,TALEGAON,0 days 00:01:00
186123,99908,EMU,12,TGN,TALEGAON,2024-04-26 23:50:00,2024-04-26 00:00:00,34,PUNE,PUNE JN.,TGN,TALEGAON,-1 days +00:10:00

In [32]:
df=df[df['Source Station Name'].notnull()]
df=df[df['Station Name']=='HUBLI JN.']
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 109 entries, 1923 to 173521
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Train No                  109 non-null    object
 1   Train Name                109 non-null    object
 2   SEQ                       109 non-null    object
 3   Station Code              109 non-null    object
 4   Station Name              109 non-null    object
 5   Arrival time              109 non-null    object
 6   Departure Time            109 non-null    object
 7   Distance                  109 non-null    object
 8   Source Station            109 non-null    object
 9   Source Station Name       109 non-null    object
 10  Destination Station       109 non-null    object
 11  Destination Station Name  109 non-null    object
dtypes: object(12)
memory usage: 11.1+ KB

In [31]:
df2.loc[[929]]

,Train No,Train Name,SEQ,Station Code,Station Name,Arrival time,Departure Time,Distance,Source Station,Source Station Name,Destination Station,Destination Station Name
929,4771,SDLP-SGNR SP,20,BDSW,BUDHSINGHWAL,07:52:00,07:53:00,193,SDLP,SADULPUR JN,SGNR,SHRI GANGANAGAR

In [22]:
start="SAWANTWADI"
start=start.upper()
print(start)
end="MADGOAN JN."
end=end.upper()
for i,j in df2.iterrows():
    #print(1)
    x=string_similarity(j.iloc[9],start)
    y=string_similarity(j.iloc[11],end)
    #print(x,y)
    if x>50 and y>50:
        #print(x,y)
        print(j.iloc[0],j.iloc[1],j.iloc[5],j.iloc[6],j.iloc[12])
    # if df2['Source Station Name'][i]==start and df2['Destination Station Name'][i]==end:
    #     print(df2['Train Name'][i],df2['Train No'][i],df2['Arrival time'][i],df2['Departure Time'][i],df2['duration'][i])

SAWANTWADI
107 SWV-MAO-VLNK 2024-04-26 00:00:00 2024-04-26 10:25:00 0 days 10:25:00
107 SWV-MAO-VLNK 2024-04-26 11:06:00 2024-04-26 11:08:00 0 days 00:02:00
107 SWV-MAO-VLNK 2024-04-26 11:28:00 2024-04-26 11:30:00 0 days 00:02:00
107 SWV-MAO-VLNK 2024-04-26 12:10:00 2024-04-26 00:00:00 -1 days +11:50:00
50107 SWV-MAO PASS 2024-04-26 17:55:00 2024-04-26 17:55:00 0 days 00:00:00
50107 SWV-MAO PASS 2024-04-26 18:05:00 2024-04-26 18:06:00 0 days 00:01:00
50107 SWV-MAO PASS 2024-04-26 18:30:00 2024-04-26 18:31:00 0 days 00:01:00
50107 SWV-MAO PASS 2024-04-26 18:50:00 2024-04-26 18:51:00 0 days 00:01:00
50107 SWV-MAO PASS 2024-04-26 19:11:00 2024-04-26 19:12:00 0 days 00:01:00
50107 SWV-MAO PASS 2024-04-26 19:24:00 2024-04-26 19:25:00 0 days 00:01:00
50107 SWV-MAO PASS 2024-04-26 19:34:00 2024-04-26 19:35:00 0 days 00:01:00
50107 SWV-MAO PASS 2024-04-26 19:41:00 2024-04-26 19:42:00 0 days 00:01:00
50107 SWV-MAO PASS 2024-04-26 20:30:00 2024-04-26 20:30:00 0 days 00:00:00

In [56]:
pip install Levenshtein

Collecting LevenshteinNote: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.3.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

  Downloading Levenshtein-0.25.1-cp312-cp312-win_amd64.whl.metadata (3.4 kB)
Collecting rapidfuzz<4.0.0,>=3.8.0 (from Levenshtein)
  Downloading rapidfuzz-3.8.1-cp312-cp312-win_amd64.whl.metadata (11 kB)
Downloading Levenshtein-0.25.1-cp312-cp312-win_amd64.whl (98 kB)
   ---------------------------------------- 0.0/98.6 kB ? eta -:--:--
   ---- ----------------------------------- 10.2/98.6 kB ? eta -:--:--
   ---------------- ----------------------- 41.0/98.6 kB 653.6 kB/s eta 0:00:01
   ---------------------------------------- 98.6/98.6 kB 939.9 kB/s eta 0:00:00
Downloading rapidfuzz-3.8.1-cp312-cp312-win_amd64.whl (1.6 MB)
   ---------------------------------------- 0.0/1.6 MB ? eta -:--:--
    --------------------------------------- 0.0/1.6 MB 2.0 MB/s eta 0:00:01
   -- ------------------------------------- 0.1/1.6 MB 1.3 MB/s eta 0:00:02
   --- ------------------------------------ 0.1/1.6 MB 1.4 MB/s eta 0:00:02
   ---- ----------------------------------- 0.2/1.6 MB 1.2 MB/s eta 0:00:02
   ------ --------------------------------- 0.3/1.6 MB 1.4 MB/s eta 0:00:01
   -------- ------------------------------- 0.4/1.6 MB 1.4 MB/s eta 0:00:01
   --------- ------------------------------ 0.4/1.6 MB 1.3 MB/s eta 0:00:01
   ----------- ---------------------------- 0.5/1.6 MB 1.4 MB/s eta 0:00:01
   ------------ --------------------------- 0.5/1.6 MB 1.4 MB/s eta 0:00:01
   -------------- ------------------------- 0.6/1.6 MB 1.5 MB/s eta 0:00:01
   ----------------- ---------------------- 0.7/1.6 MB 1.5 MB/s eta 0:00:01
   ------------------- -------------------- 0.8/1.6 MB 1.5 MB/s eta 0:00:01
   --------------------- ------------------ 0.9/1.6 MB 1.5 MB/s eta 0:00:01
   ------------------------ --------------- 1.0/1.6 MB 1.6 MB/s eta 0:00:01
   -------------------------- ------------- 1.1/1.6 MB 1.7 MB/s eta 0:00:01
   ----------------------------- ---------- 1.2/1.6 MB 1.7 MB/s eta 0:00:01
   -------------------------------- ------- 1.4/1.6 MB 1.8 MB/s eta 0:00:01
   ------------------------------------ --- 1.5/1.6 MB 1.8 MB/s eta 0:00:01
   -------------------------------------- - 1.6/1.6 MB 1.8 MB/s eta 0:00:01
   ---------------------------------------- 1.6/1.6 MB 1.9 MB/s eta 0:00:00
Installing collected packages: rapidfuzz, Levenshtein
Successfully installed Levenshtein-0.25.1 rapidfuzz-3.8.1

In [1]:
import Levenshtein
def string_similarity(s1, s2):
            distance = Levenshtein.distance(s1, s2)
            similarity = 1 - (distance / max(len(s1), len(s2)))
            return similarity * 100

In [2]:
string_similarity("MADGOAN JN.","MADGoanN")

45.45454545454546